{% extends 'registration.html' %}

{% block title %}Password change{% endblock title %}

{% block content %}
<div class="login-form big-form">
  <form method="POST">
    <h3>Password change</h3>
    <p>Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you
      typed it in correctly.</p>
    {% csrf_token %}
    {{ form.as_div}}
    <input class="primary-button" type="submit" value="Change password">
  </form>
</div>
{% endblock content %}