{% extends 'base.html' %}

{% block title %}Technical Opinion{% endblock title %}

{% block content %}
<h2 class="main-title">Technical Opinion on the Equivalence of Studies</h2>
<div class="flex-gap-2">
  <p><b>Date:</b> {{ student.analysis.created_at }}</p>
  <p><b>Student:</b> {{ student.paternal_surname }} {{ student.maternal_surname }} {{ student.first_name }}</p>
</div>
<br>
<div class="syllabus-grid">
  <p><b>Origin syllabus:</b> {{ student.analysis.analysis.origin_syllabus }}</p>
  <p><b>Receiver syllabus:</b> {{ student.analysis.analysis.receiver_syllabus }}</p>
  <p><b>Origin institute:</b> {{ student.analysis.analysis.origin_syllabus.career.institute.name }}</p>
  <p><b>Receiver institute:</b> {{ student.analysis.analysis.receiver_syllabus.career.institute.name }}</p>
</div>
<br>
<div>
  <table>
    <tr>
      <th>Origin class</th>
      <th>Receiver class</th>
      <th>Class key</th>
    </tr>
    {% for equivalence in equivalence_list %}
    <tr>
      {% if equivalence.percentage >= 60 %}
      <td>{{ equivalence.origin_subject }}</td>
      <td>{{ equivalence.receiver_subject }}</td>
      <td>{{ equivalence.receiver_subject.key }}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock content %}