{% extends 'base.html' %}

{% block title %}Students{% endblock title %}

{% block content %}
<h2 class="main-title">Students</h2>
<div class="institutes-header">
  <form action="" class="search-container search-small">
    <input type="search" name="" id="" placeholder="Search">
    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
  </form>
  <a href="{% url 'new-student' %}"><i class="fa-solid fa-circle-plus"></i> Add student</a>
</div>
<div>
  <table>
    <tr>
      <th>Full name</th>
      <th>Institute</th>
      <th>Career</th>
      <th>Actions</th>
    </tr>
    {% for student in students_list %}
    <tr>
      <td><a href="#" class="table-link">{{ student.first_name }} {{ student.paternal_surname }}
          {{ student.maternal_surname }}</a></td>
      <td><a href="{% url 'careers' student.institute.id %}" class="table-link">{{ student.institute }}</a></td>
      <td><a href="{% url 'syllabus' student.career.id %}" class="table-link">{{ student.career }}</a></td>
      <td class="actions">
        <div><a href="{% url 'edit-student' student.id %}"><i class="fa-solid fa-pen edit"></i></a></div>
        <div><a href="{% url 'delete-student' student.id %}"><i class="fa-solid fa-trash delete"></i></a></div>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock content %}