{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome{% endblock title %}

{% block content %}
<div class="welcome-user">
  <h2>Welcome to <br class="welcome-space"> Validation of Studies</h2>
  <p>Keep track of students, institutes, classes and perform study equivalencies efficiently.</p>
  <br>
  <p>Hello, {{ user.username }}</p>
  <p>Your role is: {{ user.role }}</p>
</div>
<form action="" class="search-container">
  <input type="search" name="" id="" placeholder="Search">
  <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
</form>
<div class="cards-container">
  {% for student in student_list %}
  <a href="{% url 'request' student.id %}" class="student-card">
    <h3>{{ student.first_name }} {{ student.paternal_surname }} {{ student.maternal_surname }}</h3>
    <p>{{ student.institute }}</p>
    <p>{{ student.career }}</p>
    <p>{{ student.created_at }}</p>
  </a>
  {% endfor %}
</div>
{% endblock content %}