.search-small {
  justify-content: flex-start;
}

.search-small input {
  width: 100%;
}

.institutes-header,
.actions-div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.institutes-header a,
.actions-div a {
  display: flex;
  align-items: center;
  color: var(--light-color);
  margin-top: 0.7rem;
}

.institutes-header a i {
  background-color: var(--light-color);
  border-radius: 20px;
  padding: 0.12rem;
  color: var(--primary-color);
  font-size: 2rem;
  margin-right: 0.8rem;
}

.institutes-header a i:hover,
.actions-div a i:hover {
  color: var(--primary-color-hover)
}

.actions-div i {
  background-color: var(--light-color);
  border-radius: 100%;
  padding: 0.5rem;
  color: var(--primary-color);
  font-size: 1.2rem;
  margin-right: 0.8rem;
}

.circle-icon {
  padding-left: 0.6rem !important;
  padding-right: 0.6rem !important;
}

.delete-card {
  display: flex;
  gap: 8rem;
  background-color: var(--dark-color);
  border: 1px solid var(--light-color);
  border-radius: 15px;
  padding: 2rem;
}

.delete-card h4 {
  margin-bottom: 1rem;
}

.delete-card h4:last-of-type {
  margin-bottom: 0;
}

.delete-card .second-half {
  margin-top: 0;
}

.classes-container {
  margin-top: 2rem;
}

.classes-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.classes-container p,
.classes-container a {
  display: block;
  max-width: fit-content;
  margin-top: 0.5rem;
}

.classes-container a:hover {
  border-bottom: 1px solid var(--light-color);
}

.new-class-container {
  display: flex;
  overflow: auto;
  overflow-y: scroll;
  height: 92.5vh;
  width: 100vw;
  margin-bottom: -2.5rem;
}

.new-class-container .login-form {
  width: 33%;
  justify-content: flex-start;
}

.new-class-container .classes-container {
  width: 60%;
}

.class-form {
  position: sticky;
  top: 5vh;
  align-self: flex-start;
}

.new-class-form {
  width: 30vw !important;
}

.new-class-form select {
  width: 100% !important;
}

.new-class-form input {
  width: 97% !important;
}

.new-class-form .primary-button {
  width: fit-content !important;
}

.subject #id_name,
.subject #id_key {
  display: none;
}

.request-form {
  flex-direction: column;
  background-color: var(--background-color);
  border: 0;
}

.request-form div {
  margin-right: 2rem;
}

.address-container p {
  margin-top: 1rem;
}

.address-container h4 {
  margin-bottom: 0.2rem;
}

.address-container h4:last-child {
  margin-bottom: 1rem;
}

.request-btn-container {
  margin-top: 2rem;
}

.request-btn-container a {
  border: 1px solid var(--light-color);
  border-radius: 15px;
  font-size: 1.2rem;
}

.equivalence-btn {
  border: 2px solid var(--light-color);
  border-radius: 100%;
  padding: 0.1rem 0.4rem;
  color: var(--light-color);
  font-weight: bold;
}

.equivalence-btn:hover {
  color: var(--gray-color);
  border-color: var(--gray-color);
}

.syllabus-grid {
  display: grid;
  grid-template-columns: repeat(2, 35rem);
}

.analysis-div select {
  margin-bottom: 0.3rem !important;
}

.analysis-div small {
  margin-bottom: 1.5rem;
}