.search-small {
  justify-content: flex-start;
}

.search-small input {
  width: 100%;
}

.institutes-header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.institutes-header a {
  display: flex;
  align-items: center;
  color: var(--light-color);
  margin-top: 0.7rem;
}

.institutes-header a i {
  background-color: var(--light-color);
  border-radius: 20px;
  padding: 0.12rem;
  color: var(--primary-color);
  font-size: 2rem;
  margin-right: 0.8rem;
}

.institutes-header a i:hover {
  color: var(--primary-color-hover)
}

.delete-card {
  display: flex;
  gap: 8rem;
  background-color: var(--dark-color);
  border: 1px solid var(--light-color);
  border-radius: 15px;
  padding: 2rem;
}

.delete-card h4 {
  margin-bottom: 1rem;
}

.delete-card h4:last-of-type {
  margin-bottom: 0;
}

.delete-card .second-half {
  margin-top: 0;
}

.classes-container {
  margin-top: 2rem;
}

.classes-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.classes-container p,
.classes-container a {
  display: block;
  max-width: fit-content;
  margin-top: 0.5rem;
}

.classes-container a:hover {
  border-bottom: 1px solid var(--light-color);
}

.new-class-container {
  display: flex;
  overflow: auto;
  overflow-y: scroll;
  height: 92.5vh;
  width: 100vw;
  margin-bottom: -2.5rem;
}

.new-class-container .login-form {
  width: 30%;
}

.new-class-container .classes-container {
  width: 60%;
}

.class-form {
  position: sticky;
  top: 5vh;
  align-self: flex-start;
}

.new-class-form {
  width: 30vw !important;
}

.new-class-form select {
  width: 100% !important;
}

.new-class-form input {
  width: 97% !important;
}

.new-class-form .primary-button {
  width: fit-content !important;
}

.subject #id_name,
.subject #id_key {
  display: none;
}